<html>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @pin.each do |pin| %>
  <tr>
    <td>  <%= pin.title %></td>
    <td><%= pin.description %></td>
    <td><%= link_to "Show", pin %></td>
    <% if user_signed_in? %>
        <%if pin.user == current_user %>
    <td><%= link_to "Edit", edit_pin_path(pin) %></td>
            <% end %>
<% end %>
  </tr>
  </table>
    <% end %>
  </br>
<%= link_to "New Pin",  new_pin_path %>
  </html>