<div class="page-header">
  <h1><%=@pin.title %><br>  </h1>
    <p>  <%= @pin.description %>  </p>
    <small>Submitted by </small>
  <%= @pin.user.email %>
</div>


    <div class = "btn-group">
      <%if @pin.user == current_user %>
      <%= link_to 'Edit', edit_pin_path(@pin),class: "btn btn-default"%>
      <%= link_to 'Destroy', @pin, method: :delete, data:{confirm: 'Are you sure'}, class:"btn btn-default" %>
<% end %>
          </div>

</br>
<%= link_to "Go Back",  root_path %>